* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*      Nav        */

.navcolor {
    background-color: rgb(213, 145, 243);
}
.brand1 {
    font-size: 2rem;
    font-family: Cochin;
    text-shadow: 0 0 1px white;
}
.brand1 span {
    color: rgb(250, 247, 253);
    text-shadow: 0px 0px 3px black;
}

/*      Main        */

main {
    text-align: center;
    margin: 5rem 0 5rem;
}

.contador {
    background-color: rgb(159, 157, 251);
    padding: 20px 0;
}

.botonC {
    font-weight: 900;
    color: white;
    background-color: rgb(44, 43, 43);
    width: 50px;
    border-radius: 5px;
    margin: 0 5px 0;
}

.botonC1 {
    font-weight:700;
    color: rgb(243, 245, 247);
    background-color: rgb(57, 247, 47);
    width: 100px;
    border-radius: 5px;
    border-color: rgb(157, 225, 55);
    margin: 0 20px;
}

.botonC0 {
    background-color: rgb(168, 206, 239);
    border: 3px solid rgb(222, 228, 251);
    font-weight: bolder;
}